<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="com.luojilab.component.basiclib">

    <application
     >
        <!-- 百度定位配置 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="YLbpXAnSknacddCejKwbp6dZuQdwrmwI" >
        </meta-data>

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
        </service>
    </application>

</manifest>
